@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:400;
    src:local('☺'), url("/fonts/SF-Pro-Display/sf-pro-display_regular.woff2") format("woff2");
}

@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:600;
    src:local('☺'), url("/fonts/SF-Pro-Display/sf-pro-display_semibold.woff2") format("woff2");
}

@font-face {
    font-family:'SF Pro Icons';
    font-style:normal;
    font-weight:300;
    src:local('☺'), url("/fonts/SF-Pro-Icons/sf-pro-icons_light.woff2") format("woff2");
}

@font-face {
    font-family:'SF Pro Icons';
    font-style:normal;
    font-weight:400;
    src:local('☺'), url("/fonts/SF-Pro-Icons/sf-pro-icons_regular.woff2") format("woff2");
}

@font-face {
    font-family:'SF Pro Icons';
    font-style:normal;
    font-weight:600;
    src:local('☺'), url("/fonts/SF-Pro-Icons/sf-pro-icons_semibold.woff2") format("woff2");
}

@font-face {
    font-family:'SF Pro SC';
    font-style:normal;
    font-weight:300;
    src:local('☺'), url("/fonts/SF-Pro-SC/PingFangSC-Light.woff2") format("woff2");
}

@font-face {
    font-family:'SF Pro SC';
    font-style:normal;
    font-weight:400;
    src:local('☺'), url("/fonts/SF-Pro-SC/PingFangSC-Regular.woff2") format("woff2");
}

@font-face {
    font-family:'SF Pro SC';
    font-style:normal;
    font-weight:600;
    src:local('☺'), url("/fonts/SF-Pro-SC/PingFangSC-Semibold.woff2") format("woff2");
}

@font-face {
    font-family:'SF Pro Text';
    font-style:normal;
    font-weight:400;
    src:local('☺'), url("/fonts/SF-Pro-Text/sf-pro-text_regular.woff2") format("woff2");
}

@font-face {
    font-family:'SF Pro Text';
    font-style:normal;
    font-weight:600;
    src:local('☺'), url("/fonts/SF-Pro-Text/sf-pro-text_semibold.woff2") format("woff2");
}

@font-face {
    font-family:'SF Mono';
    font-style:normal;
    font-weight:400;
    src:local('☺'), url("/fonts/SF-Mono/sf-mono_regular.woff") format("woff")
}
